# Entornos virtuales
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Archivos del sistema
.DS_Store
Thumbs.db

# Variables y secretos
.env
.streamlit/secrets.toml

# Logs
*.log

# Archivos temporales
*.tmp
*.bak